<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>index</title>

    <script>
        !function(){var t=100,o=750,e=document.documentElement.clientWidth||window.innerWidth,n=Math.max(Math.min(e,480),320),h=50;320>=n&&(h=Math.floor(n/o*t*.99)),n>320&&362>=n&&(h=Math.floor(n/o*t*1)),n>362&&375>=n&&(h=Math.floor(n/o*t*1)),n>375&&(h=Math.floor(n/o*t*.97)),document.querySelector("html").style.fontSize=h+"px"}(); function rem(){var t=100,o=750,e=document.documentElement.clientWidth||window.innerWidth,n=Math.max(Math.min(e,480),320),h=50;320>=n&&(h=Math.floor(n/o*t*.99)),n>320&&362>=n&&(h=Math.floor(n/o*t*1)),n>362&&375>=n&&(h=Math.floor(n/o*t*1)),n>375&&(h=Math.floor(n/o*t*.97)),document.querySelector("html").style.fontSize=h+"px"};rem();window.onresize=function(){rem();}
    </script>
</head>

<body>
</body>

</html>
